[submodule "typo3conf/ext/template"]
	path = typo3conf/ext/template
	url = https://github.com/famelo/TYPO3.git
[submodule "typo3conf/ext/flux"]
	path = typo3conf/ext/flux
	url = git://github.com/FluidTYPO3/flux.git
[submodule "typo3conf/ext/fluidpages"]
	path = typo3conf/ext/fluidpages
	url = git://github.com/FluidTYPO3/fluidpages.git
[submodule "typo3conf/ext/fluidcontent"]
	path = typo3conf/ext/fluidcontent
	url = git://github.com/FluidTYPO3/fluidcontent.git
[submodule "typo3conf/ext/vhs"]
	path = typo3conf/ext/vhs
	url = git://github.com/FluidTYPO3/vhs.git
